[submodule "rbuilder"]
	path = rbuilder
	url = https://github.com/taikoxyz/rbuilder
[submodule "reth"]
	path = reth
	url = https://github.com/taikoxyz/gwyneth
[submodule "revm"]
	path = revm
	url = https://github.com/taikoxyz/revm
[submodule "revm-spector"]
	path = revm-spector
	url = https://github.com/taikoxyz/revm-inspectors.git
[submodule "ethereum-package"]
	path = ethereum-package
	url = https://github.com/ethpandaops/ethereum-package.git
